
data/output/step4_5.tiff.aux.xml
data/output/step4_5.tiff
data/output/step4_10.tiff
data/output/step4_10.tiff
data/output/step4_10.tiff
*.xml
data/output/step4_50.tiff
code/__pycache__/step4.cpython-310.pyc
code/__pycache__/step4.cpython-310.pyc
*.pyc
data/output/step4_20.tiff
*.png
*.pyc
